<div class="jumbotron">
    <h1 align="center">Calculate Net Pay For Borrower(s)!</h1>
    <p class="lead" align="center">This application accepts Borrower(s)'s asset data and calculates the 
      net pay for the given Borrower(s).<br>
      Follow the steps below.<br>
      1. Generate the OAuth Token and optionally do the health check. <br>
      2. Once the Token is generated you can interact with the service.
    </p>
    <p align="center"><a class="btn btn-lg btn-success" routerLink="/healthcheck" 
    button>Get Started</a></p>
</div>